* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  display: inline-block;
}

.col-center {
  margin: 0 auto;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #eee;
  color: #222;
  padding: 10px;
}

.panel > .panel-body{
  background-image: none;
  color: #222;
  padding: 10px;
}

.panel  {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.lyrics-textarea {
  height: 60px;
}

.comp-25-mobile-90 {
  width: 25%;
}

.comp-75-mobile-90 {
  width: 75%;
}

@media (max-width:700px){
  .comp-25-mobile-90 {
      width: 90%;
  }

  .comp-75-mobile-90 {
    width: 90%;
  }

}