* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

a {
  color: #333;
  text-decoration: none;
}

.white-links {
  color: #eee;
}

.navbar {
  background-color: #333;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
  display: inline-block;
}

.col-center {
  margin: 0 auto;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #eee;
  color: #222;
  padding: 10px;
}

.panel > .panel-body{
  background-image: none;
  color: #222;
  padding: 10px;
}

.panel  {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;    
}

.lyrics-textarea {
  height: 60px;
}

.comp-25-mobile-90 {
  width: 25%;
}

.comp-75-mobile-90 {
  width: 75%;
}

@media (max-width:700px){
  .comp-25-mobile-90 {
      width: 90%;
  }

  .comp-75-mobile-90 {
    width: 90%;
  }

  .navbar-nav {
    max-width: auto;
    max-height: 30px;
    overflow-x: scroll;
    font-size: 20px;
  }

}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}